<!-- inside app/views/home/index.html.erb -->
<div class="container">
  <div class="card m-2 p-2">
    <table class="table">
      <% @response.each do |key, value| %>
        <tr>
          <th><%= key.to_s %></th>
          <td><%= value.to_s %></td>
        </tr>
      <% end %>
      <tr>
        <th>BLOCKS</th>
        <td><%= @response['blocks'] %></td>
      </tr>
    </table>
  </div>
  <div class="card m-2 p-2 mt-4">
    <strong>Block Height: </strong><%= @getblockchaininfo['result']['blocks'] %>
    <hr>
    <h3>Balances:</h3>
    <table class="table">
      <% @getbalances['result'].each do |key, val| %>
        <tr>
          <th><%= key.to_s %></th>
          <td>
            <% val.each do |k, v| %>
              <%= k.to_s + ": " + v.to_s%>
            <% end %>
          </td>
        </tr>

      <% end %>
    </table>

  </div>

  <div class="card m-2 p-2 mt-4">
    <h1>Wallets</h1>
    <hr>
    <table class="table">
      <tr><th>Wallets</th></tr>
      <% @listwallets['result'].each do |wallet| %>
        <%

          @walletinfo = HTTParty.post((@urlstring_to_post + "wallet/" + wallet.to_s).to_str,
                                       :body => { :jsonrpc => '1.0',
                                                  :id => 'curltext',
                                                  :method => 'getwalletinfo',
                                                  :params => []
                                       }.to_json,
                                       :headers => { 'Content-Type' => 'application/json' } )
        %>


        <tr>
          <th><%= wallet %></th>
          <td>
            <table class="table">
              <% @walletinfo['result'].each do |key, val| %>

                <tr>
                  <th><%= key.to_s %></th>
                  <td><%= val.to_s %></td>
                </tr>

              <% end %>
            </table>

          </td>
        </tr>





      <% end %>
    </table>



    <hr>
    <%= render 'create_wallet' %>

  </div>

</div>

