<div id="<%= dom_id wallet %>">
  <p>
    <strong>Wallet name:</strong>
    <%= wallet.wallet_name %>
  </p>

  <p>
    <strong>Disable private keys:</strong>
    <%= wallet.disable_private_keys %>
  </p>

  <p>
    <strong>Blank:</strong>
    <%= wallet.blank %>
  </p>

  <p>
    <strong>Passphrase:</strong>
    <%= wallet.passphrase %>
  </p>

  <p>
    <strong>Avoid reuse:</strong>
    <%= wallet.avoid_reuse %>
  </p>

  <p>
    <strong>Descriptors:</strong>
    <%= wallet.descriptors %>
  </p>

  <p>
    <strong>Load on startup:</strong>
    <%= wallet.load_on_startup %>
  </p>

  <p>
    <strong>Post request uri:</strong>
    <%= wallet.post_request_uri %>
  </p>

</div>
